<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

    
	<system.web>
		<profile enabled="false" />

		<compilation debug="true"/>

		<customErrors mode="Off" />
		
		<authentication mode="Forms">
			<forms name="Warcraft 3 online" path="/" loginUrl="Portal/Default.aspx" />
		</authentication>
		
		<authorization>
			<allow users="*"/>
		</authorization>
        
        <pages validateRequest="false" />


	</system.web>
	
	
	<location path="Game">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization> 
		</system.web>
	</location>
	
	<location path="Portal">
		<system.web>
			<pages theme="Portal" />
		</system.web>
	</location>

	<location path="Admin">
		<system.web>
			<pages theme="Portal" />
		</system.web>
	</location>
	
</configuration>
