body, td {
    font-family: Arial;
    color: #3e9cdc;
    font-size: 11px;
    background-color: #000000;
    margin: 0px;
}

img {
    border-style: none;
}

a:link, a:visited, a:active {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

Input, TextArea, Select {
    font-family: Arial;
    font-size: 11px;
}

h1 {
    font-family: Garamond;
    font-size: 20px;
    color: #dddddd;
    text-align: center;
}

#Header { 
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}

#Footer {
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

#Left {
	width: 13%;
	float: left;
	margin: 10px;
}

#Right {
	width: 16%;
	float: right;
	margin: 10px;
}

#Center {
	text-align: justify;
	width: 65%;
	float: left;
}

.News {
	border: #909090 1px solid;
	text-align: justify;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.News .Left 
{
	text-align: justify;
	float: left;
	width: 85%;
}

.News .Right 
{
	float: right;
	width: 15%;
	text-align: center;
}

.News .Footer 
{
	font-size: 80%;
	text-align: center;
	width: 100%;
}

.Box-Left {
	border: #909090 1px solid;
	background-color: #232323;
	padding: 5px;
	margin-bottom: 40px;
	text-align: justify;
}

.Box-Center {
	border: #909090 1px solid;
	background-color: #232323;
	padding: 5px;
	margin-bottom: 40px;
	text-align: center;
}

.Box-Header {
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}

.Box-Center Th {
	text-align: right;
	width: 40%;
}

.Box-Center Td {
	text-align: justify;
	background-color: #232323;	
}

.Text-Left {
	width: 40%;
	text-align: right;
	float: left;
	vertical-align: middle;
	padding: 1%;
}

.Text-Right {
	width: 55%;
	text-align: justify;
	float: right;
	vertical-align: middle;
	padding: 1%;
}

.Message_Error {
    color: red;
    margin: 15px;
    padding: 10px;
    font-size: 15px;  
    border: #909090 1px solid;      
}

.Message_Acknowledgement {
    color: green;
    margin: 15px;
    padding: 10px;
    font-size: 15px;   
    border: #909090 1px solid;         
}

.Message_Normal {
    margin: 15px;
    padding: 10px;
    font-size: 15px; 
    border: #909090 1px solid;              
}